# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Firebase configuration files
/android/app/google-services.json
/ios/Runner/GoogleService-Info.plist
/firebase.json
lib/firebase_options.dart

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Other files
*.apk
*.ipa
*.app
*.exe
*.dll

# VS Code specific (Uncomment if you want to ignore)
#.vscode/
